  body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative; 
    background-color: #F8F9FB;
  }
  
  button:hover {
    opacity: 0.8;
  }
  /* PRODUCTS */
  
  body{
    font-family: 'Raleway', serif !important;
  }

  .container-lista-productos{
    position: relative; top: 6rem;
  }
  
  .card-lista-productos{
   width: 90%;
   display: flex;
   max-width: 90%;
   display: flex;
   border: 1px solid #cacaca; 
   border-radius: 5px;
   margin: 0px 10px 0px 10px;
   padding: 5px;
  }
  
  .card-lista-productos:hover{
    opacity: 0.9;
  }
  
  
  .img-autos{
    position: relative;
    height: 200px;
    width: 290px;
    border: 1px double #cacaca;
    border-radius: 5px;
    margin: 5px 15px 5px 15px;
    padding: 4px;
  }
  
  .productos-descripcion{
    font-size: 16px;
    margin-top: 5px;
  }
  
  .titulo-lista-productos{
    font-family: 'Raleway', serif !important;
    font-size: 23px;
    margin-top: 10px;
  }
  
  .cantidad-vendidos-lista-productos{
    position: absolute; top: 1; right: 8rem;
  }
  
  .h4-titulo-productos{
    font-family: 'Raleway', serif !important;
    font-size: calc(1.325rem + .9vw);
  }
  
  .p-subtitulo{
    font-family: 'Raleway', serif !important;
    font-size: 20px;
  }
  
/* NOMBRE DE USUARIO */

.navbar-usuario{
  position: relative;
  padding-left: 2px ;
}

/* FILTROS */

/* 1-orden */

#filtros{
  font-family:'Raleway', serif !important ;
} 

#ordenar{
  position: absolute; top: 14rem; right: 10rem; bottom: 2px;
}

.btn-light {
  border-color: #FAF7F7;
  background-color: #FAF7F7;
  border: none;
  color: black;
}


/* 2-precio */

#precio{
  position: absolute; top: 17rem; right: 58rem;
}

.btn-controles{
  font-size: medium;
  width: 3rem;
  height: 2rem;
  border-color: #FAF7F7;
  background-color: #FAF7F7;
  border: none;
}

.min-max{
  font-size: medium;
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #cacaca;
  background-color: #FAF7F7;
}

.price{
    position: absolute; top: 15%; right: 18rem;
}

/*  3-Buscador de productos */

#buscador{
  position: relative; left: 5rem; top: 5px;
}


.text-muted{
  position: relative; top: 30px;
}

/* INFO DE PRODUCTO */

.product-img{
  height: 150px;
    width: 200px;
    float: left;
    display: flex;
    padding: 20px;
}

.img{
  display: flex;
}

/* COMENTARIOS DE PRODUCTOS */

#card-comment{
  border-radius: 5px;
  border: 1px solid #cacaca;
}

#content-comment{
  padding-top: 5px;
  position: relative;
  margin: 0px  10px  0px  0px;
  clear: left;

}

/* BOTÓN PARA REDIRIGIR AL CART */

#redirectCart{
  position: absolute; top: 4rem; right: 5rem;
  margin-top: 10px;
}


/* IMAGEN DE CARRITO */

.img-cart{
  width: 90px;
  height: 60px;
}

/* TITULO DE ARTÍCULOS */

.container-sub{
  padding-left: 10%;
  font-weight: bold;
}

.product{
  float: left;
  word-spacing: 2px;
}

.boton-product{
  width: 80%;
}

#style-carrito{
  padding: 30px;
  padding-bottom: 20%;
}

#infoP-subtotal{
  font-weight: bold;
}


/* CANTIDAD DE PRODUCTOS EN EL CARRITO */

.cant-input{
  display: inline-block;
}



/* COMENTARIOS */

#content-comment{
  padding-top: 5rem;
  padding-left: 3rem;
  padding-bottom: 5rem;
  width: 50rem;
}


/* PRODUCTOS RELACIONADOS */

#pRelacionados{
  padding-top: 4rem;
}

/* INFO PRODUCTOS */

.card-body{
  padding-left: 2rem;
}

#pcoment{
  padding-top: 1rem;
}

.commentP{
  padding-left: 3rem;
  padding-bottom: 5rem;
}

.enviarC{
  padding-top: 1rem;
}


/* PROFILE */

.container{
  padding-top: 1rem;
}


/* Foto de perfil */



.perfil{
  display:inline-block;margin-right:45rem; 
  width:85px;

} 

#imgProfile {
  display:inline-block; 
  margin-right:45rem;
  width: 75px;
  padding-bottom: 10px;
} 

#btnGuardar{
  padding-top: 20px;
}


